{% extends 'base.html.twig' %}

{% block title %}Liste des produits
	{{ categorie.nom }}
{% endblock %}

{% block body %}

	<div class="container">
		<section class="row">
			<div class="col-12">
				{% if categorie %}
					<h1>Liste des produits de la catégorie
						{{ categorie.nom }}
					</h1>
					<a href="{{ path('produit_add') }}" class="btn btn-success">Ajouter un Produit</a>
				</div>

			{% if produits is not empty %}
				<div class="row">
					{% for produit in produits %}
						<div class="col-md-3 mb-3">
							<article class="card h-100">
								<div class="bg-info card-body">
									<h2 class="card-title">
										{{ produit.nom }}
									</h2>
									<p class="card-text">
										{{ produit.description }}
									</p>
									<p class="card-text">
										{{ produit.prix }}
									</p>
								<a href="{{ path('produit_details', {'slug': produit.slug}) }}" class="btn btn-primary">Détails</a>
								</div>
							</article>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<p>Aucun produit enregistré cette catégorie.</p>
			{% endif %}
			{% else %}
				<p>Catégorie non trouvée</p>
			{% endif %}
		</section>
	</div>
{% endblock %}
